{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [],
    "env": {
        "debug": {
          "sourceMap": "inline",
          "retainLines": true
        }
    }
}
