{
    "env": {
        "node": true,
        "es6": true
    },
    "extends": "eslint-config-hapi",
    "rules": {
        "no-bitwise": "off",
        "no-confusing-arrow": "off",
        "no-console": "off",
        "no-nested-ternary": "off",
        "no-underscore-dangle": "off",
        "require-await": "off",
        "hapi/hapi-scope-start": "off"
    },
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module"
    }
}
